# логи
FILE_LOGGING =      logs/log.log
LOGGING_LEVEL =     INFO

# данные приложения
APP_ENV =           development
APP_YOLO =          yolov8s.pt

MAX_PHOTO_SIZE =    5

# временные файлы
IMG_TMP =           img

# end
